<div class="canvas-settigns-menu-wrapper">
  <h1>
    <mat-icon> tune </mat-icon> <span>Ustawienia</span>
  </h1>

  <section>
    <label>Stroke color</label>
    <input [style.background]="strokeColor" [(colorPicker)]="strokeColor"
      (colorPickerSelect)="changeStrokeColor($event)" [cpOKButton]="true" [cpOKButtonClass]="'mat-raised-button'" />
  </section>

  <section>
    <label>Stroke width</label>
    <mat-select [value]="strokeWidth" (valueChange)="changeStrokeWidth($event)">
      <mat-option *ngFor="let size of allStrokeSizes" [value]="size">
        <span>{{ size }}px</span>
        <hr [style.height.px]="size" [style.background]="strokeColor">
      </mat-option>
    </mat-select>
  </section>
</div>