.app-wrapper {
  display: flex;
  flex: 1 1;
  height: 100vh;
  flex-direction: column;
}

mat-toolbar {
  mat-toolbar-row {
    &:nth-child(1) {
      display: flex;
      justify-content: space-between;
    }
    &:nth-child(2) {
      max-height: 0;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  flex: 1 1;
  align-items: center;
  width: 100%;
}
