@use '../variables.scss' as *;

.app-wrapper {
  display: flex;
  flex: 1 1;
  height: 100vh;
  flex-direction: column;
}

app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

mat-sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
}

mat-sidenav-container {
  position: absolute;
  top: $toolbar-height;
  left: 0;
  right: 0;
  bottom: 0;
}

mat-sidenav-content {
  position: relative;
  
  display: flex;
  justify-content: center;
  flex: 1 1;
  align-items: center;
  width: 100%;
}
