app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.app-wrapper {
  display: flex;
  flex: 1 1;
  height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  flex: 1 1;
  align-items: center;
  width: 100%;
}
