<div class="canvas-toolbar-wrapper">
  <div class="canvas-controls">
    <div class="drawing-modes">
      <button mat-icon-button [matMenuTriggerFor]="canvasSettings" matTooltip="Settings">
        <mat-icon> tune </mat-icon>
      </button>

      <mat-menu #canvasSettings="matMenu">
        <app-canvas-settings-menu (click)="$event.stopPropagation()"></app-canvas-settings-menu>
      </mat-menu>

      <button mat-button [class.active]="isDrawingMode" (click)="enableDrawingMode()" matTooltip="Drawing"
        matTooltipClass="tooltip-visibility">
        <mat-icon> gesture </mat-icon> <span class="button-label">Drawing</span>
      </button>

      <button mat-button [class.active]="isStraightLineMode" (click)="enableStraightLineMode()"
        matTooltip="Straight line" matTooltipClass="tooltip-visibility">
        <mat-icon> horizontal_rule </mat-icon> <span class="button-label">Straight line</span>
      </button>

      <button mat-button [class.active]="isRectangleMode" (click)="enableRectangleMode()" matTooltip="Rectangle"
        matTooltipClass="tooltip-visibility">
        <mat-icon> crop_square </mat-icon> <span class="button-label">Rectangle</span>
      </button>

      <button mat-button [class.active]="isCircleMode" (click)="enableCircleMode()" matTooltip="Circle"
        matTooltipClass="tooltip-visibility" disabled>
        <mat-icon> panorama_fish_eye </mat-icon> <span class="button-label">Circle</span>
      </button>

      <button mat-button [class.active]="isEditMode" (click)="enableEditMode()" matTooltip="Edit"
        matTooltipClass="tooltip-visibility">
        <mat-icon> open_in_full </mat-icon> <span class="button-label">Edit</span>
      </button>

      <button class="clear-canvas" mat-button (click)="clearCanvas()" matTooltip="Clear"
        matTooltipClass="tooltip-visibility">
        <mat-icon color="warn"> format_paint </mat-icon> <span class="button-label">Clear</span>
      </button>
    </div>

    <button mat-icon-button (click)="openHelpWindow()">
      <mat-icon> help </mat-icon> <span></span>
    </button>
  </div>