@use '../../../variables' as *;

.canvas-toolbar-wrapper {
  background-color: none !important;
}

.canvas-toolbar-wrapper,
.canvas-controls {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
}

button {
  position: relative;
  transition: $transition-normal;

  &:not(:first-child) {
    margin-left: 8px;
  }

  span.button-label {
    display: inline-block;
    max-width: 80px;
    transition: $transition-normal;
  }

  // Active mode indicator
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateX(-50%) translateY(-50%);

    width: 0;
    height: 0;
    border-radius: 4px;
    background-color: #FFBF00;

    transition: inherit;
  }

  // Active mode visible
  &.active {
    &:before {
      width: 8px;
      height: 8px;
    }
  }

  &.clear-canvas {
    margin-left: $spacing-big;
  }
}

.tooltip-visibility {
  visibility: hidden;
}


@media screen and (max-width: 800px) {
  button {
    padding: 0 $spacing-small;
    
    &:not(:first-child) {
      margin-left: 0;
    }
    
    span.button-label {
      display: inline-block;
      max-width: 0;
      overflow: hidden;
    }
  }

  .tooltip-visibility {
    visibility: visible;
  }
}