@use '../../../variables' as *;

mat-toolbar {
  mat-toolbar-row {
    transition: $transition-normal;

    &:nth-child(1) {
      display: flex;
      justify-content: space-between;
    }

    &:nth-child(2) {
      visibility: hidden;
      max-height: 0;
      overflow: hidden;
    }
  }
}

app-canvas-toolbar {
  width: 100%;
}

mat-icon {
  transition: $transition-normal;
}

.expanded {
  visibility: visible !important;
  max-height: 48px !important;
}

.upside-down {
  transform: rotate(180deg);
}