.canvas-wrapper {
  position: relative;
  border: 1px solid black;
}

.canvas-absolute {
  position: absolute;
  top: 0;
  left: 0;
  cursor: crosshair;
  // Width and height is set dynamically in template
}

#canvas-preview {
  pointer-events: none;
}