@use './../../../variables' as *;

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: $spacing-medium;
}

app-image-uploader {
  width: 100%;
}

.canvases-wrapper {
  margin-top: $spacing-medium;
  display: flex;
  justify-content: space-between;
  
  canvas {
    width: 500px;
    height: 500px;
    border: 2px dashed #717386;
  }
}
